@import '~node_modules/modern-normalize/modern-normalize.css';
body{
    height: 100%;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: var(--black);
    background-color: var(--background-w);
}