// BODY-DARK-THEME //
body.dark-theme{
    background-color: var(--background-d);
}

// SCROLL-TO-TOP//
.dark-theme .btn_scroll {
    fill: var(--white-d);
}

// HEADER-DARK-THEME //

.dark-theme .logo-second {
    color: var(--white-d);
}
.dark-theme .btn-favorites{
    color: var(--white-d);
}
.dark-theme .shopping-icon-use{
    fill: var(--black);
    stroke: var(--white-d);
}

// MOB-MENU-DARK-THEME //
.dark-theme .mobile-menu{
    background-color: var(--black);
}
.dark-theme .header-list-item.main-page{
    color: var(--green);
}

// HERO-DARK-THEME // 

.dark-theme .event-title{
    color: var(--white-d);
}
.dark-theme .event-text{
    color: var(--white-d);
}
.dark-theme .event-order{
    background-color: transparent;
    color: var(--white-d);
}
.dark-theme span.swiper-pagination-bullet{
    background-color: var(--white-d);
}
.dark-theme span.swiper-pagination-bullet-active{
    background: var(--green);
}
.dark-theme .order-form-comment{
    background-color: transparent;
    color: var(--white-d);
}