// BODY-DARK-THEME //
body.dark-theme{
    background-color: var(--background-d);
}

// MODALS-CLOSE //

.dark-theme .hero-modal-close-icon{
    stroke: var(--white-d);
}
.dark-theme .reciepe-close-icon{
    stroke: var(--white-d);
}
.dark-theme .rating-close-icon-svg{
    stroke: var(--white-d);
}

// SCROLL-TO-TOP//
.dark-theme .btn_scroll {
    fill: var(--white-d);
}

// HEADER-DARK-THEME //

.dark-theme .logo-second {
    color: var(--white-d);
}

.dark-theme .header-nav-links{
    color: var(--white-d);
}

.dark-theme .nav-link-active{
    color: var(--green);
}

.dark-theme .shopping-icon-use{
    fill: var(--black);
    stroke: var(--white-d);
}

// MOB-MENU-DARK-THEME //
.dark-theme .mobile-menu-icon{
    stroke: var(--white-d);
}

.dark-theme .mobile-menu{
    background-color: var(--black);
}
.dark-theme .header-list-item.main-page{
    color: var(--green);
}

// HERO-DARK-THEME // 

.dark-theme .event-title{
    color: var(--white-d);
}
.dark-theme .event-text{
    color: var(--white-d);
}
.dark-theme .event-order{
    background-color: transparent;
    color: var(--white-d);
}
.dark-theme span.swiper-pagination-bullet{
    background-color: var(--white-d);
}
.dark-theme span.swiper-pagination-bullet-active{
    background: var(--green);
}


// ALLCATEGORIES-DARK-THEME //

.dark-theme .all-category-button.active {
    border: 1px solid var(--gray-border-d);
    background-color: transparent;
    color: var(--white-d);
}
.dark-theme .all-category-button {
    border: 1px solid var(--gray-border-d);
    background-color: transparent;
    color: var(--white-d);
}
.dark-theme .category-btn{
    color: var(--gray-ul-d);
}
.dark-theme ::-webkit-scrollbar-thumb{
    background-color: var(--gray-border-d);
}
.dark-theme .custom-select .options-list {
    background-color: var(--black);
}
.dark-theme .option-item{
    color: var(--gray-ul-d);
}
.dark-theme .option:hover .option-item {
    color: var(--white-d);
}



// SEARCH-DARK-THEME //

.dark-theme .text-search{
    color: var(--gray-title-d);
}
.dark-theme .item-ingridienst{
    background-color: transparent;
    border-color: var(--gray-border-d);
}
.dark-theme .elem-prev{
    color: var(--gray-title-d);
}
.dark-theme .search-arrow{
    fill: var(--gray-title-d);
}
.dark-theme .selected-option{
    border-color: var(--gray-border-d);
}
.dark-theme .custom-select .selected-option{
    background-color: transparent;
}
.dark-theme .inp-search{
    background-color: transparent;
    border-color: var(--gray-border-d);
    color: var(--white-d);
}
.dark-theme .svg-search{
    fill: var(--gray-title-d);
}

// POPULAR-RECEIPTS-DARK-THEME //

.dark-theme .popular-recipes{
    color: var(--white-d);
}
.dark-theme .popular-title{
    color: var(--white-d);
}
.dark-theme .popular-text{
    color: var(--grey-descrip-d);
}

// MAIN-CARDS-DARK-THEME //

.dark-theme .card_title{
    color: var(--white-d);
}
.dark-theme .card_description{
    color: var(--white-d);
}
.dark-theme .star-rating_value{
    color: var(--gray-title-d);
}
.dark-theme .card_btn{
    color: var(--white-d);
}

// PAGINATION-DARK-THEME //

.dark-theme .tui-page-btn{
    color: var(--white-d);
}

// FAVORITE-DARK-THEME //

.dark-theme .no-recipes{
    color: var(--white-d);
}

.dark-theme .categories-btn {
    background-color: transparent;
    color: var(--gray-ul-d);
    border-color: var(--gray-border-d);
}

// HERO-MODAL-DARK-THEME //

.dark-theme .modal{
    background-color: var(--black);
}
.dark-theme .order-modal-title{
    color: var(--white-d);
}
.dark-theme .order-form-label{
    color: var(--gray-title-d);
}
.dark-theme .order-form-input{
    background-color: transparent;
    color: var(--white-d);
}
.dark-theme .order-form-comment{
    background-color: transparent;
    color: var(--white-d);
}

// MODAL-RECIPE-DARK-THEME //

.dark-theme .modal-recipe{
    background-color: var(--black);
}
.dark-theme .title-recipe{
    color: var(--white-d);
}
.dark-theme .rating{
    color: var(--gray-title-d);
}
.dark-theme .time-cooking{
    color: var(--gray-title-d);
}
.dark-theme .ingridient{
    color: var(--white-d);
}
.dark-theme .portion{
    color: var(--gray-title-d);
}
.dark-theme .list-item::after{
    border-color: var(--gray-star-d);
}
.dark-theme .teg-item{
    color: var(--white-d);
    border-color: var(--gray-border-d);
}
.dark-theme .recipe-text{
    color:var(--grey-descrip-d);
}
.dark-theme .btn-giveARating{
    background-color: transparent;
    color: var(--white-d);
}

// RATING-MODAL-DARK-THEME //

.dark-theme .rating-modal{
    background-color: var(--black);
}
.dark-theme .block-star-txt{
    color: var(--white-d);
}
.dark-theme .rating-block-txt{
    color: var(--grey-descrip-d);
}
.dark-theme .rating-email-inp{
    background-color: transparent;
    border-color: var(--gray-border-d);
    color: var(--white-d);
}
.dark-theme .rating-email-inp::placeholder{
    color: var(--gray-title-d);
}

// TEAM-MODAL-DARK-THEME //

.dark-theme .team-modal{
    background-color: var(--gray-slider-desc-d);
}
.dark-theme .team-title{
    color: #a28561;
}