<div class="categories-container">
    <button class="category-btn all-categories-button active">Усі категорії</button>
    <div class="category-list">
        {{#each categories}}
        <button class="category-btn">{{this.name}}</button>
        {{/each}}
    </div>
</div>