{{#each this}}
  <li class='card_favourites'>
    <button class='card_favourites_btn button'>
      <svg class='card_heart' width='22' height='22'>
        <use href='./images/icons/SPRITE.svg#icon-heart' class='heart_use'></use>
      </svg>
    </button>
    <img src='{{src}}' alt='' class='card_background' />
    <div class='card_content-container'>
      <div class='card_text-container'>
        <h3 class='card_title'>{{title}}</h3>
        <p class='card_description'>{{description}}</p>
      </div>
      <div class='card_footer-container'>
        <div class='card_star-rating'>
          <p class='star-rating_value'>{{starRating}}</p>
          <svg class='star' width='12' height='12'>
            <use href='./images/icons/SPRITE.svg#icon-Star-1'></use>
          </svg>
          <svg class='star' width='12' height='12'>
            <use href='./images/icons/SPRITE.svg#icon-Star-1'></use>
          </svg>
          <svg class='star' width='12' height='12'>
            <use href='./images/icons/SPRITE.svg#icon-Star-1'></use>
          </svg>
          <svg class='star' width='12' height='12'>
            <use href='./images/icons/SPRITE.svg#icon-Star-1'></use>
          </svg>
          <svg class='star' width='12' height='12'>
            <use href='./images/icons/SPRITE.svg#icon-Star-1'></use>
          </svg>
        </div>
        <button class='card_btn'>See recipe</button>
      </div>
    </div>
  </li>
{{/each}}