{{#each this}}
  <div class='recipes'>
    <img class='popular-img' src='{{preview}}' alt='{{title}}' />
    <div class='popular-description'>
      <h3 class='popular-title'>{{title}}</h3>
      <p class='popular-text'>{{description}}</p>
    </div>
  </div>
{{/each}}