:root {
  --main-font: "Inter";

  --background-d: #161616;
  --background-w: #F8F8F8;

  --black: #050505;
  --green: #9BB537;
  --white-w: #F8F8F8;
  --gray-title-w: rgba(5, 5, 5, 0.5);
  --gray-border-w: rgba(5, 5, 5, 0.2);
  --gray-border-modal-w: rgba(5, 5, 5, 0.1);
  --gray-ul-w: rgba(5, 5, 5, 0.3);
  --gray-descrip-w: rgba(5, 5, 5, 0.8);
  --yellow-star: #EEA10C;
  --gray-star-w: rgba(248, 248, 248, 0.1);
  --gray-star-modal: #D9D9D9;
  --gray-pagination-w: rgba(248, 248, 248, 0.5);
  --gray-radiobtn-w: #CECDCD;
  --gray-slider-title-w: rgba(248, 248, 248, 0.6);
  --gray-slider-desc-w: rgba(248, 248, 248, 0.2);
  --color-input-red: #E74A3B;


  --white-d: #FFF;
  --gray-slider-title-d: rgba(255, 255, 255, 0.6);
  --gray-slider-desc-d: rgba(255, 255, 255, 0.2);
  --gray-title-d: rgba(255, 255, 255, 0.5);
  --gray-border-d: rgba(255, 255, 255, 0.2);
  --gray-ul-d: rgba(255, 255, 255, 0.3);
  --grey-descrip-d: rgba(255, 255, 255, 0.8);
  --gray-star-d: rgba(255, 255, 255, 0.1);

  --gallery-gradient: linear-gradient(1deg, rgba(5, 5, 5, 0.6) 0%, rgba(5, 5, 5, 0) 100%);

  --trns-general: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trns-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
  