<section class="section-fav-hero">
  <div class="container container-hero">
    <picture class="favorite-image">
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/favorites_hero/favorites-hero-desk-1x.webp 1x,
          ./images/favorites_hero/favorites-hero-desk-2x.webp 2x
        "
      />
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/favorites_hero/favorites-hero-desk-1x.png 1x,
          ./images/favorites_hero/favorites-hero-desk-2x.png 2x
        "
      />
      <source
        media="(min-width:1024px)"
        srcset="
          ./images/favorites_hero/favorites-hero-desk-1x.webp 1x,
          ./images/favorites_hero/favorites-hero-desk-2x.webp 2x
        "
      />
      <source
        media="(min-width:1024px)"
        srcset="
          ./images/favorites_hero/favorites-hero-desk-1x.png 1x,
          ./images/favorites_hero/favorites-hero-desk-2x.png 2x
        "
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/favorites_hero/favorites-hero-tab-1x.webp 1x,
          ./images/favorites_hero/favorites-hero-tab-2x.webp 2x
        "
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/favorites_hero/favorites-hero-tab-1x.png 1x,
          ./images/favorites_hero/favorites-hero-tab-2x.png 2x
        "
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/favorites_hero/favorites-hero-mob-1x.webp 1x,
          ./images/favorites_hero/favorites-hero-mob-2x.webp 2x
        "
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/favorites_hero/favorites-hero-mob-1x.png 1x,
          ./images/favorites_hero/favorites-hero-mob-2x.png 2x
        "
      />

      <img class="image-fav"
        src="./images/favorites_hero/favorites-hero-mob-1x.png"
        alt="Favorite food"
        loading="lazy"
      />
    </picture>
  </div>
</section>
