<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="favorite-cards">
    <div class="container">
      <div class="favorite-button-list">
        <ul class="categories-list"></ul>
      </div>
      <ul class="favorite-render-cards"></ul>
      <div class="no-recipe-content">
        <svg class="no-recipe-icon" width="68" height="58">
          <use href="./images/icons/SPRITE.svg#icon-elements"></use>
        </svg>
        <p class="no-recipes">
          It appears that you haven't added any recipes to your favorites yet. To
          get started, you can add recipes that you like to your favorites for
          easier access in the future.
        </p>
      </div>
    </div>
  </div>
</body>
</html>