<section class="favorite-cards container">
  <svg class="icon icon-elements" width="68" height="58">
    <use href="/src/images/icons/SPRITE.svg#icon-elements"></use>
  </svg>
  <p>
    It appears that you haven't added any recipes to your favorites yet. To get
    started, you can add recipes that you like to your favorites for easier
    access in the future.
  </p>
  <svg class="icon icon-elements" width="97" height="83">
    <use href="/src/images/icons/SPRITE.svg#icon-elements"></use>
  </svg>
</section>
