<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="event-list">
    <div class="container hero-container">
      <div class="event-description animate__animated animate__fadeInLeft">
        <h1 class="event-title">
          Learn to Cook
          <span class="tasty-treats">Tasty Treats'</span> Customizable Masterclass
        </h1>
        <p class="event-text">
          TastyTreats - Customize Your Meal with Ingredient Options and
          Step-by-Step Video Guides.
        </p>
        <button type="button" class="event-order order-btn">Order now</button>
      </div>
      <div class="crunch animate__animated animate__fadeInRight">
        <div class="swiper">
          <div class="events swiper-wrapper"></div>
        </div>
        <div class="page"></div>
      </div>
    </div>
  </section>
</body>
</html>