<section class="event-list">
  <div class="event-description">
    <h1 class="event-title">
      Learn to Cook <span class="tasty-treats">Tasty Treats'</span> Customizable
      Masterclass
    </h1>
    <p class="event-text">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button type="button" class="event-order">Order now</button>
  </div>
  <div class="crunch">
    <div class="swiper">
      <div class="events swiper-wrapper"></div>
      <div class="page"></div>
    </div>
  </div>
</section>
