<!-- <div class="container">
  <h2>Popular recipes</h2>
 
  <ul class="recipes-list">
    <li class="recipes-item">
      <img src="././images/popular/french_omelette.jpg" alt="gallery" />
      <h3 class="recipes-subtitle">French Omelette</h3>
      <p class="recipes-text">
        A French omelette is a simple yet elegant dish made with whisked eggs,
        butter, salt, and pepper, cooked gently until light and fluffy, then
        folded over and served for a comforting and refined meal any time of
        day.
      </p>
    </li>
   
    <li class="recipes-item">
      <img src="././images/popular/squash_linguine.jpg" alt="gallery" />
      <h3 class="subtitle">Squash linguine</h3>
      <p class="recipes-text">
        Squash linguine is a flavorful and nutritious pasta alternative made
        with spiralized squash noodles, paired with a variety of delicious
        sauces and toppings for a satisfying and healthy meal.
      </p>
    </li>
    
    <li class="recipes-item">
      <img src="././images/popular/baked_salmon.jpg" alt="gallery" />
      <h3 class="subtitle">Baked Salmon</h3>
      <p class="recipes-text">
        Baked salmon is a flavorful and nutritious dish featuring tender and
        moist fillets seasoned with a blend of lemon juice, garlic, and olive
        oil.
      </p>
    </li>
    
    <li class="recipes-item">
      <img src="././images/popular/sugar_pie.jpg" alt="gallery" />
      <h3 class="subtitle">Sugar pie</h3>
      <p class="recipes-text">
        Sugar pie is a traditional Canadian dessert made with a rich and buttery
        filling of brown sugar, cream, and flour, poured into a flaky pastry
        crust and baked until golden brown.
      </p>
    </li>
  </ul>
</div> -->
<h2 class="popularRecipes">POPULAR RECIPES</h2>
<div class="popular">

</div>