
<div class="con-select">

        
    <div class="con-search">

        <h2 class="text-search">Search</h2>
        <div class="con-inp">
            
            <input class="inp-search" type="text" name="searchQuery" autocomplete="off" placeholder="Enter Text"/>
            <button type="button" class="btn-search">
                <svg class="svg-search" width="18px" height="18px">
                <use href="./images/icons/search.svg#search"></use>
                </svg>
            </button>
        </div>
    </div>
        
    

   
        <div class="item-select time">
            <h2 class="text-search">Time</h2>
            
            <div class="custom-select">
                <div class="selected-option">
                  <span class="elem-prev">40 min</span>
                  <svg class="search-arrow" width="18px" height="18px">
                    <use href="./images/icons/searchArrow.svg#search-arrow"></use>
                  </svg>
                </div>
                <ul class="options-list">
                  <li class="option">10 min</li>
                  <li class="option">20 min</li>
                  <li class="option">30 min</li>
                  <li class="option">40 min</li>
                </ul>
              </div>




            <!-- <div class="custom-select">
                
                <select name="time-select" id="time" class="time item">
                    <option value="" class="option-select">10 min</option>
                    <option value="" class="option-select">20 min</option>
                    <option value="" class="option-select">30 min</option>
                    <option value="" class="option-select">40 min</option>
                  
                </select>
                <div class="selected-option">
                  <span>
                    <svg class="search-arrow" width="18px" height="18px">
                      <use href="./images/icons/searchArrow.svg#search-arrow"></use>
                    </svg>
                  </span>
                </div>

            </div> -->
                

        </div>
        <div class="item-select">
            <h2 class="text-search">Area</h2>

            <div class="custom-select">
                <div class="selected-option selected-area">
                  <span class="elem-prev">Italian</span>
                  <svg class="search-arrow" width="18px" height="18px">
                    <use href="./images/icons/searchArrow.svg#search-arrow"></use>
                  </svg>
                </div>
                <ul class="options-list">
                  <li class="option">French</li>
                  <li class="option">Spanish</li>
                  <li class="option">Italian</li>
                  <li class="option">English</li>
                  <li class="option">Norwegian</li>
                  <li class="option">Ukrainian</li>
                  <li class="option">French</li>
                  <li class="option">Spanish</li>
                  <li class="option">Italian</li>
                  <li class="option">English</li>
                  <li class="option">Norwegian</li>
                  <li class="option">Ukrainian</li>
                  <li class="option">French</li>
                  <li class="option">Spanish</li>
                  <li class="option">Italian</li>
                  <li class="option">English</li>
                  <li class="option">Norwegian</li>
                  <li class="option">Ukrainian</li>
                </ul>
              </div>

            <!-- <div class="custom-select">
                
                <select name="time-select" id="time" class="time item">
                    <option value="" class="option-select">French</option>
                    <option value="" class="option-select">Spanish</option>
                    <option value="" class="option-select">Italian</option>
                    <option value="" class="option-select">English</option>
                    <option value="" class="option-select">Norwegian</option>
                    <option value="" class="option-select">Ukrainian</option>
                  
                </select>
                <div class="selected-option">
                  <span>
                    <svg class="search-arrow" width="18px" height="18px">
                      <use href="./images/icons/searchArrow.svg#search-arrow"></use>
                    </svg>
                  </span>
                </div>

            </div> -->
        </div>
        <div class="item-select ingredients">
            <h2 class="text-search">Ingredients</h2>

            <div class="custom-select">
                <div class="item-ingridienst">
                  <span class="elem-prev">Tomato</span>
                  <svg class="search-arrow" width="18px" height="18px">
                    <use href="./images/icons/searchArrow.svg#search-arrow"></use>
                  </svg>
                </div>
                <ul class="options-list">
                  <li class="option">Cabbage</li>
                  <li class="option">Cucumber</li>
                  <li class="option">Tomato</li>
                  <li class="option">Corn</li>
                  <li class="option">Radish</li>
                  <li class="option">Cabbage</li>
                  <li class="option">Cucumber</li>
                  <li class="option">Tomato</li>
                  <li class="option">Corn</li>
                  <li class="option">Radish</li>
                  <li class="option">Cabbage</li>
                  <li class="option">Cucumber</li>
                  <li class="option">Tomato</li>
                  <li class="option">Corn</li>
                  <li class="option">Radish</li>
                  <li class="option">Cabbage</li>
                  <li class="option">Cucumber</li>
                  <li class="option">Tomato</li>
                  <li class="option">Corn</li>
                  <li class="option">Radish</li>
                </ul>
              </div>


            <!-- <div class="custom-select">
                
                <select name="time-select" id="time" class="time item">
                    <option value="" class="option-select">Cabbage</option>
                    <option value="" class="option-select">Cucumber</option>
                    <option value="" class="option-select">Tomato</option>
                    <option value="" class="option-select">Corn</option>
                    <option value="" class="option-select">Radish</option>
                    <option value="" class="option-select">Parsley</option>
                  
                </select>
                <div class="selected-option">
                  <span>
                    <svg class="search-arrow" width="18px" height="18px">
                      <use href="./images/icons/searchArrow.svg#search-arrow"></use>
                    </svg>
                  </span>
                </div>

            </div> -->
        </div>
    
            
        

</div>


