.category-container {
  max-height: 402px;
  margin-bottom: 40px;
}

.all-category-button {
  width: 176px;
  height: 50px;
  border: 1px solid var(--gray-border-w);
  background-color: var(--background-w);
  border-radius: 15px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  color: var(--gray-ul-w);
  margin-bottom: 24px;
  cursor: pointer;
  padding: 14px 10px;
  transition: var(--trns-general);
}

.all-category-button:hover{
  background-color: var(--green);
  color: var(--white-w);
  border: 1px solid var(--green);
}

.all-category-button.active {
  border: 1px solid var(--green);
  background-color: var(--green);
  color: var(--white-w);
}

.category-list {
  height: 198px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow-y: scroll;
}

.category-btn {
  border: none;
  background-color: transparent;
  color: var(--gray-ul-w);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--main-font);
  cursor: pointer;
  padding: 0;
  transition: var(--trns-general);
  @media screen and (min-width: 768px){
    font-size: 16px;
  }
}

.category-btn:hover{
  color: var(--green);
}

.category-btn.active {
  color: var(--green);
}
.onFocus {
  color: var(--green);
  background-color: var(--green);
}

// ========== tablet ===========
@media screen and (min-width: 768px) {
  .category-container {
    max-height: 496px;
    max-width: 176px;
    margin-bottom: 0;
  }

  .all-category-button {
    margin-bottom: 30px;
  }

  .category-list {
    width: 176px;
    height: 416px;
    gap: 24px;
  }
}

// ===================================/

// =============== desktop=============/

@media screen and (min-width: 1280px) {
  .category-container {
    max-height: 540px;
    max-width: 174px;
  }

  .all-category-button {
    width: 174px;
  }

  .category-list {
    width: 235px;
  }
}
