.event-list{
  padding-top: 91px;
  @media screen and (min-width: 768px) {
    padding-top: 93px;}
  @media screen and (min-width: 1280px) {
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 94px;
    overflow: hidden;
  }
}

.event-description{
  margin-bottom: 48px;
  @media screen and (min-width: 768px) {
    width: 446px;
    margin-bottom: 64px;
    margin-right: 32px;}
}



.hero-container{
  overflow: hidden;
  @media screen and (min-width: 1280px) {
    display: flex;
    overflow: visible;
    align-items: center;}
}

.event-title{
  width: 335px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
  @media screen and (min-width: 768px) {
    width: 446px;
    font-size: 36px;}
}

.tasty-treats{
  font-style:oblique;
  color: var(--green);
  font-weight: 400;
}

.event-text{
  margin: 14px 0 28px;
  font-size: 14px;
  line-height: 18px;
  @media screen and (min-width: 768px) {
    margin: 16px 0 32px;
    font-size: 16px;
    line-height: 24px;
    width: 408px;}
}

.event-order{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid var(--green);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--white-w);
  transition: all var(--trns-general);
  &:hover,&:focus{
    background-color: var(--green);
    color: var(--white-w);}
  &:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);}
  @media screen and (min-width: 768px) {
    padding: 14px 28px;}
}
.order-btn{
  cursor: pointer;
}

.events{
  display: flex;
}

.event{
  display: flex;
}

.cook{
  display: block;
  height: 280px;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  @media screen and (min-width: 768px) {
    height: 442px;
    width: 137px;}
  }


.preview-deash-card{
  display: flex;
  margin: 0 8px;
  height: 280px;
  width: 200px;
  background-color: var(--black);
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin: 0 16px;
    height: 442px;
    width: 351px;}
}
.deash-name{
  display: block;
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  text-align: center;
  color: var(--gray-slider-title-w);
  text-transform: uppercase;
  width: 172px;
  @media screen and (min-width: 768px) {
    width: 276px;
    font-size: 14px;
    line-height: 18px;}
}
.deash-area{
  display: block;
  font-size: 8px;
  line-height: 12px;
  color: var(--gray-slider-desc-w);
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 14px;}
}

.preview-deash{
  display: block;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  @media screen and (min-width: 768px) {
    height: 262px;
    width: 262px;}
  @media screen and (min-width: 1280px) {
    height: 271px;
    width: 304px;}
}


.deash{
  display: block;
  height: 280px;
  width: 185px;
  background-size: 564px;
  border-radius: 15px;
  background-position:30%;
  background-color: black;
  @media screen and (min-width: 768px) {
    background-size: 863px;
    height: 442px;
    width: 351px;
  }
}


.crunch{
  width: 515px;
  @media screen and (min-width: 768px) {
    width: 889px;}
}

.page{
  margin: 24px 0 0 155px;
  @media screen and (min-width: 768px) {
    margin-left: 300px;}
}


span.swiper-pagination-bullet {
  opacity: 1;
  background-color: black;
}

span.swiper-pagination-bullet-active{
  background: var(--green);
   opacity: 1;
}
