.backdrop {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity var(--trns-modal), visibility var(--trns-modal);
}

.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 150ms;
}

.modal {
  background: var(--white-w);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px 20px;
  border: 1px solid var(--gray-border-w);
  width: 335px;
  height: 582px;
  border-radius: 15px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all var(--trns-modal);
  transition-delay: 150ms;
  @media screen and (min-width: 768px) {
    padding: 40px;
    width: 440px;
    height: 632px;
  }
}
  
.backdrop.is-hidden .modal{
  transform: scale(0.75) translate(-65%, -65%);
  opacity: 0;
  transition-delay: 0ms;
}


.close {
  cursor: pointer;
  position: fixed;
  top: 14px;
  right: 14px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: transform var(--trns-modal);
  &:hover,&:focus {
    transform: scale(1.8) rotate(180deg);
    transform-origin: center;
  }
  @media screen and (min-width: 768px) {
    top: 16px;
    right: 16px;
  }
}

.hero-modal-close-icon{
  stroke: var(--black);
}


.order-modal-title{
  color: var(--black);
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.order-form-label{
  color:var(--gray-title-w);
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
}

.order-form{
  max-width: 360px;
  display: flex;
  flex-direction:column;
}

.order-form-input{
  width: 295px;
  height: 46px;
  padding: 14px 169px 14px 18px;
  margin: 8px 0 16px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--gray-title-w);
  &:hover, &:active {
    border: 1px solid var(--green);
  }
  @media screen and (min-width: 768px) {
    width: 360px;
    height: 48px;
    margin: 8px 0 18px;
  }
}


.order-form-comment{
  width: 295px;
  height: 100px;
  padding: 14px 169px 14px 18px;
  margin: 8px 0 40px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--gray-title-w);
  resize: none;
  &:hover, &:active {
  border: 1px solid var(--green);}
  @media screen and (min-width: 768px) {
    width: 360px;
    margin: 8px 0 40px;
  }
}

.submit-btn{
  background-color: var(--green);
  color: var(--white-w);
  border-radius: 15px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  transition: all var(--trns-general);
  &:hover {
    color: var(--black);
  }
  &:focus {
    color: var(--black);
  }
}

// NAME-VALID //

.name-form-valid:not(:placeholder-shown):required:valid {
  border-color: var(--green);
  transition: border-color var(--trns-modal);
}

.name-form-valid:not(:placeholder-shown):required:invalid {
  border-color: var(--color-input-red);
  transition: border-color var(--trns-modal);
}


// PHONE-VALID //

.phone-form-valid:not(:placeholder-shown):required:valid {
  border-color: var(--green);
  transition: border-color var(--trns-modal);
}

.phone-form-valid:not(:placeholder-shown):required:invalid {
  border-color: var(--color-input-red);
  transition: border-color var(--trns-modal);
}


// EMAIL-VALID //

.email-form-valid:not(:placeholder-shown):required:valid {
  border-color: var(--green);
  transition: border-color var(--trns-modal);
}

.email-form-valid:not(:placeholder-shown):required:invalid {
  border-color: var(--color-input-red);
  transition: border-color var(--trns-modal);
}
