.no-recipe-content {
  display: flex;
  flex-direction: column;
}

.no-recipe-icon {
  margin: 0 auto;
  margin-bottom: 32px;
}

.no-recipes {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 481px;
    font-size: 16px;
    line-height: 1.5;
  }
}
