
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer class="footer animate__animated animate__fadeInUp">
   <div class="container">
    <div class="for-footer">
      <span class="footer-text footer-copy">
        &copy; 2023 | All Rights Reserved |&nbsp;
      </span>
      <span class="footer-text footer-text-for-flex"
        >Developed with
        <svg class="footer-heart" width="22" height="22">
          <use class="footer-heart-icon" href="./images/icons/SPRITE.svg#icon-heart"></use>
        </svg>
        <span class="footer-text footer-text-modal">
          by&nbsp;
          <button class="footer-link footer-text-modal">
            <span class="footer-link-text"> GoIT Students</span>
          </button>
        </span>
      </span>
     </div>
    </div>
  </footer>
</body>
</html>