<footer class="footer">
  <div class="container">
    <span class="footer-text footer-copy"
      >&copy; 2023 | All Rights Reserved |&nbsp;</span
    ><span class="footer-text"
      >Developed with<img
        class="footer-heart"
        src="./images/icons/heart.svg"
        alt="heart beat"
       
      /><span class="footer-text"
        >by&nbsp;<a
          class="footer-link link-underline"
          data-action="open-modal"
          href="#"
          >GoIT Students</a
        ></span
      >
    </span>
  </div>
  </footer>