
  <footer class="footer">
   <div class="container">
    <div class="for-footer">
      <span class="footer-text footer-copy">
        &copy; 2023 | All Rights Reserved |&nbsp;
      </span>
      <span class="footer-text footer-text-for-flex"
        >Developed with
        <svg class="footer-heart" width="22" height="22">
          <use href="./images/icons/SPRITE.svg#icon-heart"></use>
        </svg>
        <span class="footer-text footer-text-modal">
          by&nbsp;
          <button class="footer-link footer-text-modal">
            <span class="footer-link-text"> GoIT Students</span>
          </button>
        </span>
      </span>
     </div>
    </div>
  </footer>
