<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header-items">
        <nav class="navigation">
          <a class="header-nav-links btn-home" href="./index.html">Home</a>
          <a class="header-nav-links" href="./favorites.html">Favorites</a>
        </nav>
        <a href="./index.html" class="logo-first">tasty<span class="logo-second">treats.</span></a>
        <div class="header-icons">
          <button class="header-order-btn" type="button" id="imitation">
            <svg class="shopping-icon order-btn" width="24" height="24">
              <use class="shopping-icon-use" href="./images/icons/SPRITE.svg#icon-shopping-cart-03"></use>
            </svg>
          </button>
          <div>
            <label class="header-switch">
              <input type="checkbox">
              <span class="header-slider"></span>
            </label>
          </div>
          <button class="mob-menu-btn" type="button">
            <svg class="mobile-icon" width="32" height="32">
              <use class="mobile-menu-icon" href="./images/icons/SPRITE.svg#icon-align-justify"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="mobile-menu">
      <button class="mob-menu-btn-close" type="button">
        <svg class="mob-menu-close" width="32" height="32">
          <use class="mob-menu-close-icon" href="./images/icons/SPRITE.svg#icon-x-mobile"></use>
        </svg>
      </button>
      <ul class="mob-menu-list">
        <li><a class="header-list-item main-page" href="./index.html">Home</a></li>
        <li><a class="header-list-item" href="./favorites.html">Favorites</a></li>
      </ul>
      <div>
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </header>
</body>
</html>

