<div class="team-backdrop js-team-backdrop">
    <div class="team-modal">
        <h2 class="team-title">
            <span class="team-text">0_o</span><span class="team-text">Team</span>
        </h2>
        <button type="button" class="team-button-close glowing-btn" data-action="close-modal">
            <span class="glowing-txt"><span class="faulty-letter">X</span></span>
        </button>
        <div class="card-wrapper">
            <div class="main-container">
                <div class="card-container">
                    <a href="#"><img
                            src="https://www.tandemconstruction.com/sites/default/files/styles/project_slider_main/public/images/project-images/IMG-Fieldhouse-10.jpg?itok=Whi8hHo9"
                            class="team-card" width="230" height="340" /></a>
                </div>
                <div class="team-info">
                    <div class="team-content">
                        <h3 class="team-name">1</h3>
                        <p class="team-position">Team-lead/Developer</p>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="card-container">
                    <a href="#"><img
                            src="https://www.tandemconstruction.com/sites/default/files/styles/project_slider_main/public/images/project-images/IMG-Fieldhouse-10.jpg?itok=Whi8hHo9"
                            class="team-card" width="230" height="340" /></a>
                </div>
                <div class="team-info">
                    <div class="team-content">
                        <h3 class="team-name">2</h3>
                        <p class="team-position">Developer</p>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="card-container">
                    <a href="#"><img
                            src="https://www.tandemconstruction.com/sites/default/files/styles/project_slider_main/public/images/project-images/IMG-Fieldhouse-10.jpg?itok=Whi8hHo9"
                            class="team-card" width="230" height="340" /></a>
                </div>
                <div class="team-info">
                    <div class="team-content">
                        <h3 class="team-name">3</h3>
                        <p class="team-position">Developer</p>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="card-container">
                    <a href="#"><img
                            src="https://www.tandemconstruction.com/sites/default/files/styles/project_slider_main/public/images/project-images/IMG-Fieldhouse-10.jpg?itok=Whi8hHo9"
                            class="team-card" width="230" height="340" /></a>
                </div>
                <div class="team-info">
                    <div class="team-content">
                        <h3 class="team-name">4</h3>
                        <p class="team-position">Developer</p>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="card-container">
                    <a href="#"><img
                            src="https://www.tandemconstruction.com/sites/default/files/styles/project_slider_main/public/images/project-images/IMG-Fieldhouse-10.jpg?itok=Whi8hHo9"
                            class="team-card" width="230" height="340" /></a>
                </div>
                <div class="team-info">
                    <div class="team-content">
                        <h3 class="team-name">5</h3>
                        <p class="team-position">Developer</p>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="card-container">
                    <a href="#"><img
                            src="https://www.tandemconstruction.com/sites/default/files/styles/project_slider_main/public/images/project-images/IMG-Fieldhouse-10.jpg?itok=Whi8hHo9"
                            class="team-card" width="230" height="340" /></a>
                </div>
                <div class="team-info">
                    <div class="team-content">
                        <h3 class="team-name">6</h3>
                        <p class="team-position">Developer</p>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="card-container">
                    <a href="#"><img
                            src="https://www.tandemconstruction.com/sites/default/files/styles/project_slider_main/public/images/project-images/IMG-Fieldhouse-10.jpg?itok=Whi8hHo9"
                            class="team-card" width="230" height="340" /></a>
                </div>
                <div class="team-info">
                    <div class="team-content">
                        <h3 class="team-name">7</h3>
                        <p class="team-position">Developer</p>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="card-container">
                    <a href="#"><img
                            src="https://www.tandemconstruction.com/sites/default/files/styles/project_slider_main/public/images/project-images/IMG-Fieldhouse-10.jpg?itok=Whi8hHo9"
                            class="team-card" width="230" height="340" /></a>
                </div>
                <div class="team-info">
                    <div class="team-content">
                        <h3 class="team-name">8</h3>
                        <p class="team-position">Scrum-master/Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>