<div class="rating-backdrop visible">
    <div id="rating-modal-js" class="rating-modal-container">
        <div class="rating-modal">
            <button class='btn-close'>
                <svg height='24' width='24'>
                    <path stroke-linecap='round' stroke-linejoin='round' stroke='black' stroke-width='2' d='M18 6 6 18M6 6l12 12' />
                </svg>
            </button>
            <div class="rating-block">
                <div class="rating-block-star">
                    <h2 class="block-star-txt">Rating</h2>
                </div>
                <p class="rating-block-txt">
                    Despite the promising appeal of banana-infused flavor, these pancakes unfortunately fell short of expectations. The
                    texture was somewhat dense and the banana flavor was underwhelming, making for a rather disappointing breakfast
                    experience.
                </p>  
            </div>
            <div class="rating-email">
                <input type="email" class="rating-email-inp" placeholder="Enter email">
                <button type="submit" class="rating-email-btn">Send</button>    
            </div>
        </div>
    </div>
</div>