<div class="backdrop .visible">
  <div class="modal-recipe">
    <button class="btn-close">
      <svg height="24" width="24">
        <use href="./images/icons/SPRITE.svg#icon-x"></use>
      </svg>
    </button>

    <div class="wrap-recipe">
      <iframe
        class="recipe-video"
        id="vimeo-player"
        src="https://www.youtube.com/watch?v=kYH2qJXnSMo&ab_channel=SimplyRecipes"
        frameborder="0"
        allow="autoplay; encrypted-media"
      ></iframe>
      <div class="recipe-container">
        <h2 class="title-recipe">bANANA pANCAKES</h2>
        <div class="recipe-rating">
          <p class="rating">4.5</p>
          <div class="card_star-rating">
            <svg class="star" width="12" height="12">
              <use href="./images/icons/SPRITE.svg#icon-Star-1"></use>
            </svg>
            <svg class="star" width="12" height="12">
              <use href="./images/icons/SPRITE.svg#icon-Star-1"></use>
            </svg>
            <svg class="star" width="12" height="12">
              <use href="./images/icons/SPRITE.svg#icon-Star-1"></use>
            </svg>
            <svg class="star" width="12" height="12">
              <use href="./images/icons/SPRITE.svg#icon-Star-1"></use>
            </svg>
            <svg class="star" width="12" height="12">
              <use href="./images/icons/SPRITE.svg#icon-Star-1"></use>
            </svg>
          </div>
          <p class="time-cooking">40 min</p>
        </div>
        <ul class="recipe-ingridient">
          <li class="list-item">
            <p class="ingridient">Banana</p>

            <p class="portion">1 large</p>
          </li>
          <li class="list-item">
            <p class="ingridient">Eggs</p>

            <p class="portion">2 medium</p>
          </li>
          <li class="list-item">
            <p class="ingridient">Oil</p>

            <p class="portion">1 tsp</p>
          </li>
          <li class="list-item">
            <p class="ingridient">Pecan nuts</p>

            <p class="portion">25 tsp</p>
          </li>
          <li class="list-item">
            <p class="ingridient">Baking Powder</p>

            <p class="portion">Pinch</p>
          </li>
          <li class="list-item">
            <p class="ingridient">Raspberries</p>

            <p class="portion">125 g</p>
          </li>
        </ul>
      </div>
    </div>
    <ul class="tags">
      <li class="teg-item">
        <p>#Breakfast</p>
      </li>
      <li class="teg-item">
        <p>#Desert</p>
      </li>
      <li class="teg-item">
        <p>#Sweet</p>
      </li>
    </ul>
    <p class="recipe-text">
      Mash the ripe banana in a medium mixing bowl. Add the egg and whisk
      together until well combined. Add the flour, baking powder, cinnamon (if
      using), and salt, and stir until just combined. Heat a non-stick skillet
      or griddle over medium heat and add the vegetable oil or melted butter.
      Scoop the batter onto the skillet or griddle using a 1/4 cup measure, and
      cook for 2-3 minutes on each side, or until the pancakes are golden brown
      and cooked through. Serve warm with your favorite toppings such as maple
      syrup, sliced bananas, or whipped cream.
    </p>
    <div class="btn">
      <button type="button" class="btn-addToFavorite">Add to favorite</button>
      <button type="button" class="btn-giveARating">Give a rating</button>
    </div>
  </div>
</div>
