<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="footer-backdrop is-hidden">
      <audio id="myAudio">
        <source
          src="./audio/Imagine Dragons feat J.i.d, Arcane, League of Legends - Enemy (dizer.net).mp3"
          type="audio/mp3"
        />
      </audio>
      <div class="team-modal-container modal is-hidden" data-modal="4">
        <button class="team-modal-close js-modal-close">
          <span class="leftright"></span>
          <span class="rightleft"></span>
          <span class="team-modal-label">close</span>
        </button>

        <strong class="modal-title"
          >"IREX" - ми знаємо, як створити сайти, які працюють.</strong
        >
        <ul class="team-modal">
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/oleg.png"
                class="team-modal-img"
                alt="oleg photo"
                width="150"
              />
            </div>
            <h1 class="team-title">Олег <br />Кошевий</h1>
            <p class="team-paragraph">
              Team Lead
              <a href="https://github.com/SonGlad" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/vova.png"
                class="team-modal-img"
                alt="vova photo"
                width="150"
              />
            </div>
            <h2 class="team-title">Володимир Біліченко</h2>
            <p class="team-paragraph">
              Scrum master
              <a href="https://github.com/VolodymyrBilichenko" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/misha.png"
                class="team-modal-img"
                alt="misha photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Михайло <br />Міхєєнко</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/MichaelMikhieienko" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/dima.png"
                class="team-modal-img"
                alt="dima photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Дмитро <br />Пустоляков</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/MichaelMikhieienko" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/illya.png"
                class="team-modal-img"
                alt="illya photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Ілля <br />Палатов</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/IlyaPalatov " target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/andrii.png"
                class="team-modal-img"
                alt="andrii photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Андрій <br />Пізнюр</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/Karapuz1982" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/sergii.jpg"
                class="team-modal-img"
                alt="anna photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Сергій <br />Носов</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/NosovSA76" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/marian.jpg"
                class="team-modal-img"
                alt="sasha photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Мар'ян<br />Смолій</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/smoliymaryan89" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/vasyl.jpg"
                class="team-modal-img"
                alt="sasha photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Василь <br />Коваль</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/Koval0050" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/kolia.jpg"
                class="team-modal-img"
                alt="sasha photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Микола<br />Скиба</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/Skinick" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/zhenia.jpg"
                class="team-modal-img"
                alt="sasha photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Євген<br />Саводченко</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/Eugeshakw" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
          <li class="team-modal-item">
            <div class="img-wrapper">
              <img
                src="./images/cards/vlad.jpg"
                class="team-modal-img"
                alt="sasha photo"
                width="150"
              />
            </div>
            <h3 class="team-title">Владислав<br />Біліменко</h3>
            <p class="team-paragraph">
              Розробник
              <a href="https://github.com/BelimiiYA" target="_blank">
                <svg class="git-icon" width="20" height="20">
                  <use href="./images/icons/SPRITE.svg#icon-github"></use>
                </svg>
              </a>
            </p>
          </li>
        </ul>
        <h4 class="modal-desc">
          Команда "IREX" дякує GoIT за чудовий курс з JavaScript!
        </h4>
      </div>
    </div>
  </body>
</html>
