.container {
  min-width: 320px;
  margin: 0 auto;
  max-width: 375px;
  padding: 0 20px;

  outline: 2px solid red;
  outline-offset: -2px; 
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 764px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1080px;
    // padding: 0 100px;
  }

}
  
  