<div class="container-cards">
  <div class="container-for-loader">
    <span class="loader-txt visually-hidden">Loading...</span>
    <span class="loader visually-hidden"></span>
  </div>
  <ul class="cards_list"></ul>
  <div class="notfound-cook visually-hidden">
    <div class="disk">
      <b>O</b>
      <b>o</b>
      <b>p</b>
      <b>s</b>
      <b>.</b>
      <b>.</b>
      <b>.</b>
    </div>
    
    <div class="notFound-txt-img">
      <span class="err-txt left-txt">Nothing</span>
    <img class="notfound-cook-img" src="./images/hero_section/cook.png" alt="Ooops not found" width="400px" height="400px">
    <span class="err-txt rigth-txt">Found</span>
    </div>
  </div>
</div>
