.footer {
    background-color: #f7f7f7;
    text-align: center;
    padding: 30px;
    margin-top: auto;
  }
  
  .footer-copy {
    display: block;
  
    @media screen and (max-width: 767px) {
      margin-bottom: 9px;
    }
  
    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
  
  .footer-text {
    color: #545454;
    font-size: 14px;
    line-height: calc(16.41 / 14);
  
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: calc(18.75 / 16);
    }
  }
  
  .footer-heart {
    color: var(--green);
    animation: beat 340ms infinite alternate;
    margin-left: 10px;
    margin-right: 10px;
    width: 18px;
    display: inherit;
  }
  
  @keyframes beat {
    to {
      transform: scale(1.25);
    }
  }
  
  .footer-link {
    color: #545454;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-link:hover,
  .footer-link:focus {
    color: #ff6b08;
  }
  
  .link-underline {
    text-decoration: underline;
  }