.rating-backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--gray-title-w);
    transition: opacity var(--trns-modal), visibility var(--trns-modal);
}

.rating-backdrop.visible {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-delay: 150ms;
}

.rating-modal-container {
    z-index: 102;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all var(--trns-modal);
    transition-delay: 150ms;
}

.rating-backdrop.visible .rating-modal-container{
    transform: scale(0.75) translate(-65%, -65%);
    opacity: 0;
    transition-delay: 0ms;
}

.rating-modal {
    background: var(--white-w);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 335px;
    position: relative;
    z-index: 999;

    @media screen and (min-width: 768px){
        padding: 32px;
        max-width: 424px;
    }
}

.btn-close-rating{
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0;
    transition: var(--trns-modal);

    @media screen and (min-width: 768px) {
        top: 16px;
        right: 16px;
    }
}

.btn-close-rating:hover{
    transform-origin: center center;
    transform: scale(1.8) rotate(180deg);
}

.rating-close-icon-svg{
    stroke: var(--black);
}

.rating-block {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.rating-block-star{
    margin-bottom: 20px;
}

.block-star-txt{
    margin-bottom: 4px;
    color: var(--black);
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 600;
    line-height: 18px;
}

.rating_value{
    color: #050505;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.rating-block-txt {
    font-size: 14px;
    font-family: var(--main-font);
    line-height: 18px;
    color: var(--gray-descrip-w);
}

.rating-email-inp {
    width: 100%;
    min-width: 295px;
    padding: 14px 18px;
    color: var(--gray-title-w);
    border: 1px solid var(--gray-border-w);
    border-radius: 15px;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    outline: none;
    background: inherit;
    transition: border var(--trns-general);

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 20px;
        min-width: 360px;
    }
}

.rating-email-inp::placeholder{
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 18px;
    color: var(--gray-title-w);

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.rating-email-inp:focus,
.rating-email-inp:hover{
    border: 1px solid var(--green)
}

.rating-email-btn {
    width: 100%;
    border-radius: 15px;
    background: var(--green);
    color: var(--white-w);
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 500;
    padding: 15px 18px;
    line-height: 18px;
    transition: color var(--trns-general);

    @media screen and (min-width: 768px) {
        padding: 14px 18px;
        line-height: 20px;
    }
}

.rating-email-btn:focus,
.rating-email-btn:hover{
    color: var(--black);
}

.rating-star {
    display: flex;
    align-items: center;
    gap: 8px;
}

.star-input {
    display: none;
}

.star-label {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    cursor: pointer;
}

.star-rating {
    width: 24px;
    height: 24px;
    fill: var(--gray-star-modal);
}

.star-rating.active{
    fill: var(--yellow-star);
}

.rating-email-valid:not(:placeholder-shown):required:valid {
    border-color: var(--green);
    transition: border-color var(--trns-modal);
  }
  
  .rating-email-valid:not(:placeholder-shown):required:invalid {
    border-color: var(--color-input-red);
    transition: border-color var(--trns-modal);
  }